<div class="well no-padding">
          <form action="/companies" method="POST" id="smart-wwform-register" class="smart-form client-form">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input name="companies[organization_id]" value= <%= current_store.id %> type="hidden">
            <header> Add company </header>
            
            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <label class="input">
                    <p>Company Name</p>
                    <input type="text" name="companies[name]" autocomplete="off">
                    <b class="tooltip tooltip-bottom-right">Comapny Name</b>
                  </label>
                </section>
                <section class="col col-6">
                  <label class="input">
                    <p>Type</p>
                    <input type="text" name="companies[type]" autocomplete="off">
                    <b class="tooltip tooltip-bottom-right">Type</b>
                  </label>
                </section>
              </div>
              <section>
                <label class="input">
                  <p>Company Address</p>
                  <input type="text" name="companies[address]" autocomplete="off">
                  <b class="tooltip tooltip-bottom-right">Address</b>
                </label>
              </section>
              <section>
                <label class="input">
                  <p>Company Website</p>
                  <input type="text" name="companies[website]" autocomplete="off">
                  <b class="tooltip tooltip-bottom-right">Website</b>
                </label>
              </section>
              <section>
                <label class="input">
                  <p>Compnay Email</p>
                  <input type="email" name="companies[email]" autocomplete="off">
                  <b class="tooltip tooltip-bottom-right">Email</b>
                </label>
              </section>
              <section>
                <label class="input">
                  <p>Compnay Telephone Number</p>
                  <input type="tel" name="companies[phone]" autocomplete="off">
                  <b class="tooltip tooltip-bottom-right">Phone</b>
                </label>
              </section>
              <section>
                <label class="textarea">
                  <p>Company Description</p>
                  <textarea rows="5"  name="companies[description]"></textarea> 
                  <b class="tooltip tooltip-bottom-right">Description</b>
                </label>
              </section>
            </fieldset>
            
            <footer>
              <button type="submit" class="btn btn-primary">
                Add
              </button>
            </footer>
          </form>
        </div>

