<aside id="left-panel">
  <%= render partial: "layouts/current_user" %>
  <nav>
    <ul>
      <%= left_menu %>
    </ul>
  </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
